<div class="swiper-container swiper1">
		<div class="header">
			<div class="logo fl"><img src="img/logo.png" alt=""></div>
			<input type="text" class="fl" placeholder="教师节">
			<span class="login">登陆</span>
		</div>
	    <div class="swiper-wrapper">
	        <div class="swiper-slide">
	        	<div class="swiper1_1"><a href="#"><img src="img/lun1.jpg" alt=""></a></div>
	        </div>
	        <div class="swiper-slide">
				<div class="swiper1_1"><a href="#"><img src="img/lun2.jpg" alt=""></a></div>
	        </div>
	        <div class="swiper-slide">
	        	<div class="swiper1_1"><a href="#"><img src="img/lun3.png" alt=""></a></div>
	        </div>
	        <div class="swiper-slide">
	        	<div class="swiper1_1"><a href="#"><img src="img/lun4.jpg" alt=""></a></div>
	        </div>
	    </div>
	    <!-- 如果需要分页器 -->
	    <div class="swiper-pagination pagination1"></div>
</div>