<div class="start-bottom">
	<ul class="bottom-swiper-btn pagination2">
		<li class="swiper-btn-active">
			<div >
				<img src="img/bottom-list1-off.png" alt="" />
				<img src="img/bottom-list1-on.png" alt="" />
			</div>
			<p>行业龙头</p>
		</li>
		<li>
			<div>
				<img src="img/bottom-list1-off.png" alt="" />
				<img src="img/bottom-list1-on.png" alt="" />
			</div>
			<p>品牌理念</p>
		</li>
		<li>
			<div>
				<img src="img/bottom-list1-off.png" alt="" />
				<img src="img/bottom-list1-on.png" alt="" />
			</div>
			<p>3小时送达</p>
		</li>
		<li>
			<div>
				<img src="img/bottom-list1-off.png" alt="" />
				<img src="img/bottom-list1-on.png" alt="" />
			</div>
			<p>送前实拍</p>
		</li>
	</ul>
	<div class="swiper-container swiper2">
	    <div class="swiper-wrapper">
	        <div class="swiper-slide">
	        	<div class="swiper2-2"><img src="img/lun1.jpg" alt=""></div>
	        </div>
	        <div class="swiper-slide">
				<div class="swiper2-2"><img src="img/lun2.jpg" alt=""></div>
	        </div>
	        <div class="swiper-slide">
	        	<div class="swiper2-2"><img src="img/lun3.png" alt=""></div>
	        </div>
	        <div class="swiper-slide">
	        	<div class="swiper2-2"><img src="img/lun4.jpg" alt=""></div>
	        </div>
	    </div>
	</div>
	<ul class="bottom-swiper-title">
		<li>专注鲜花礼品12年，2016年获评“鲜花行业龙头企业”</li>
		<li>花礼网倡导勇敢表达爱，享受爱的美好</li>
		<li>覆盖全国1000+城市，最快1~3小时送达</li>
		<li>坚持公开所有花款实拍，严格管控质量</li>
	</ul>
</div>