<div>
	<div class="goods-header">
		<div class="fl" ui-sref="start">
			<i class="glyphicon glyphicon-menu-left"></i>
		</div>
		<div class="fr" ui-sref="start({'index':0})">
			<i class="glyphicon glyphicon-home"></i>
		</div>
	</div>
	<div goods-swiper></div>
	<div goods-msg></div>
	<div class="goods-footer">
		<ul class="fl">
			<li>
				<div>
					<i class="glyphicon glyphicon-user"></i>
					<p>客服</p>
				</div>
			</li>
			<li>
				<div>
					<i class="glyphicon glyphicon-comment"></i>
					<p>留言</p>
				</div>
			</li>
			<li>
				<div>
					<i class="glyphicon glyphicon-shopping-cart"></i>
					<p>购物车</p>
				</div>
			</li>
		</ul>
		<div class="fr goodsbtn">
			<div class="addcar">加入购物车</div>
			<div class="buyit">立即购买</div>
		</div>
		<div class="return-top">
			<i class="glyphicon glyphicon-menu-up"></i>
		</div>
	</div>
</div>