<div>
	<ul>
		<li ui-sref="start.content" ui-sref-active="act">
			<div>
				<i class="glyphicon glyphicon-home"></i>
				<p>首页</p>
			</div>
		</li>
		<li ui-sref="start.type" ui-sref-active="act">
			<div>
				<i class="glyphicon glyphicon-tasks"></i>
				<p>分类</p>
			</div>
		</li>
		<li ui-sref-active="act">
			<div>
				<i class="glyphicon glyphicon-shopping-cart"></i>
				<p>购物车</p>
			</div>
		</li>
		<li ui-sref-active="act">
			<div>
				<i class="glyphicon glyphicon-user"></i>
				<p>我的</p>
			</div>
		</li>
	</ul>
</div>